<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/"><h3 class="ui header">Expo</h3></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class=""><i class="bars icon"></i></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Awards
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/adminhub/awards/booth">Awards For Booths</a>
                <a class="dropdown-item" href="/adminhub/awards/judge">Special Awards</a>
            </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/adminhub/booths" role="button" aria-haspopup="true" aria-expanded="false">Booths</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/adminhub/register" role="button" aria-haspopup="true" aria-expanded="false">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/adminhub/criteria" role="button" aria-haspopup="true" aria-expanded="false">Criteria</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/adminhub/scores" role="button" aria-haspopup="true" aria-expanded="false">Scores</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right dropdown-default"
                aria-labelledby="navbarDropdownMenuLink-333" id="logoutAdmin">
                    <h2 class="ui header">Welcome back admin!</h2>        
                <div class="dropdown-divider"></div>
                <a class="text-center" id="logoutLinkAdmin" href="/logout"><i class="fas fa-sign-out-alt logoutIcon"></i>Logout</a>
              </div>
            </li>
          </ul>
    </div>
  </nav>