<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/"><h3 class="ui header">Registrar</h3></a>
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right dropdown-default"
                aria-labelledby="navbarDropdownMenuLink-333" id="logoutAdmin">
                    <h2 class="ui header">Welcome back registrar!</h2>        
                <div class="dropdown-divider"></div>
                <a class="text-center" id="logoutLinkAdmin" href="/logout"><i class="fas fa-sign-out-alt logoutIcon"></i>Logout</a>
              </div>
            </li>
          </ul>
    </div>
  </nav>